<main class="page__main">
    <div class="wrapper">
        <section class="first-section" id="first-section">
            <p class="pre-text">Insomnia Tips</p>
            <h2 class="h2-main">Looking Through A Window</h2>
            <p class="main-text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
            <div><a class="btn-first-section" href="">Go</a></p></div>
        </section>
        <section class="second-section">
            <div class="box-section">
                <div class="h2-main">3 Reasons To Purchase</div>
                <div class="grid">
                    <div class="box-reason item1">
                        <div class="reason">
                            <p>Ut sed metus</p>
                        </div>
                        <div class="text-reason">
                            <p>Lorem ipsum dolor sit amet, consecteur.</p>
                        </div>
                    </div>
                    <div class="box-reason item2">
                        <div class="reason">
                            <p>Curabitur ac erat</p>
                        </div>
                        <div class="text-reason">
                            <p>Mauris mattis urna quis lorem molestie.</p>
                        </div>
                    </div>
                    <div class="box-reason item3">
                        <div class="reason">
                            <p>Morbi dictum</p>
                        </div>
                        <div class="text-reason">
                            <p>Aliquam in dolor et dolor tincidunt.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-reasons">
                <div><a class="btn-second-section" href="">More Reasons</a></div>
            </div>
        </section>
    </div>
</main>
