.hero {
    background: url('../images/cover.jpg') center no-repeat $color-white;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.box-hero {
    position: relative;
    bottom: 143px;
    color: $color-white;
    text-align: center;
    width: 290px;
}

.title-hero {
    font-family: $font-family-primary;
    text-transform: uppercase;
    font-size: 42px;
    line-height: 55px;
}

.subtitle-hero {
    font-family: $font-family-secondary;
    font-size: 16px;
    text-transform: capitalize;
}

.arrow-hero {
    width: 45px;
    height: 45px;
    background: url('../images/ico-scroll-down.svg') center no-repeat $color-white;
    border-radius: 50px;
    position: relative;
    left: 50%;
    bottom: 53px;
    transform: translate(-50%);
}

// TABLET

@media all and (min-width: 768px) {
    .box-hero {
        bottom: 120px;
        width: 690px;
    }

    .title-hero {
        font-size: 80px;
        line-height: 106px;
    }

    .subtitle-hero {
        font-size: 24px;
    }
}

// DESKTOP

@media all and (min-width: 1280px) {
    .box-hero {
        bottom: 88px;
        width: 730px;
    }

    .title-hero {
        font-size: 100px;
        line-height: 132px;
    }
}