.first-section {
    padding: 30px 15px 45px 15px;
}

.pre-text {
    font-size: 14px;
    color: $color-lightBlue;
}

.h2-main {
    font-size: 24px;
    font-family: $font-family-primary;
    font-weight: $font-weight-bold;
}

.main-text {
    font-size: 18px;
    font-family: $font-family-secondary;
    color: $color-grey;
}

.btn-first-section {
    text-decoration: none;
    border: 2px solid $color-orange;
    border-radius: 22.5px;
    width: 76px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-orange;
    font-size: 20px;
    font-family: $font-family-secondary;
    font-weight: $font-weight-medium;
    transition: color ease .8s, background-color ease .8s;
    &:hover {
        color: $color-white;
        background-color: $color-orange;
    }
}

.second-section {
    text-align: center;
    background-color: #eff9ff;
    padding-top: 30px;
    padding-bottom: 60px;
}

.reason {
    font-size: 18px;
    font-family: $font-family-primary;
    font-weight: $font-weight-bold;
    margin-top: 45px;
}

.text-reason {
    font-size: 18px;
    font-family: $font-family-secondary;
}

.button-reasons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}

.btn-second-section {
    text-decoration: none;
    background-color: $color-orange;
    color: $color-white;
    border-radius: 22.5px;
    width: 184px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: $font-family-secondary;
    font-weight: $font-weight-medium;
    transition: color ease .8s, border ease .8s, background-color ease .8s;
    &:hover {
        border: 2px solid $color-orange;
        color: $color-orange;
        background-color: $color-white;
    }
}



// TABLET
@media all and (min-width: 768px) {
    
    .first-section {
        padding: 30px 39px 60px 39px;
    }

    .h2-main {
        font-size: 26px;
    }

    .main-text {
        font-size: 20px;
    }

    .btn-first-section {
        width: 91px;
        height: 45px;
    }

    .reason {
        font-size: 24px;
    }

    .text-reason {
        font-size: 20px;
    }

    .button-reasons {
        margin-top: 60px;
    }

    [class*=col-]{
        margin-top: 45px;
    }

    .row {
        margin-left: 15px;
        margin-right: 15px;
    }

}

// DESKTOP
@media all and (min-width: 1280px) {

    .first-section {
        padding: 60px 275px 60px 275px;
        margin: auto;
        max-width: 1100px;
    } 

    .pre-text {
        font-size: 16px;
    }

    .h2-main {
        font-size: 32px;
    }

    .btn-first-section {
        width: 160px;
        height: 45px;
    }

    .box-section {
        margin: auto;
        max-width: 1100px;
    }
}