.page__footer {
    text-align: center;
    background-color: $color-darkBlue;
    color: $color-white;
    padding: 38px 15px 30px 15px;
    position: relative;
    height: 128px;
}

.arrow-footer {
    width: 45px;
    height: 45px;
    background: url('../images/ico-arrow.svg') center no-repeat $color-white;
    border-radius: 50px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    &:hover {
        animation-name: arrow;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
}

@keyframes arrow {
    from {
        transform: translate(-50%) scale(1);
    }
    to {
        transform: translate(-50%) scale(1.2);
    }
}


.copyright {
    font-size: 14px;
    font-family: $font-family-secondary;
    margin-bottom: 8px;
}

.text-footer {
    font-size: 14px;
    font-family: $font-family-secondary;
}

.heart {
    text-decoration: none;
    color: $color-orange;
}

@media all and (min-width: 768px) {
    .page__footer {
        padding: 38px 30px 30px 30px;
    }
}