// COLORS

$color-white: #ffffff;
$color-grey: #4a4a4a;
$color-black: #000000;
$color-orange: #f26002;
$color-lightBlue: #8ccbea;
$color-mediumBlue:  #0271bc;
$color-darkBlue: #304268;

// FONTS

$font-family-secondary: 'Roboto', sans-serif;
$font-family-primary:'Roboto Slab', serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;